/** @format */

.contact_container {
	border: 1px solid white;
	width: 600px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	margin-top: 20px;
}
.contact {
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
	margin: 200px 0 100px;
	align-items: center;
}
.contact_icon > a > .MuiIconButton-root {
	color: white;
	background-color: #f94a29;
	margin: 0 5px;
}
.contact_container > p > span {
	color: #f94a29;
}
.contact_container > p {
	font-size: 20px;
	padding-bottom: 30px;
	text-align: left;
}
